
.listado{
    margin: auto;
    width: 1000px;
}

.contenedor{
    display: flex;
    margin: 0px auto;
    border: solid 1px gray;
    border-radius: 20px;
    width: 1000px;
    height: 200px;
    box-shadow: -2px 2px 8px 1px gray;
}

.contenedor div{
    margin: 10px;
    padding-left: 20px;
}

.contenedor p{
    text-overflow: ellipsis;
    overflow: scroll;
    height: 65px;
    width: 400px;
}

.contenedor button{
    margin: auto;
    width: 75px;
    padding: 10px;
    color: white;
    background-color: #93108d;
    border: 0px;
    box-shadow: -1px 1px 5px 1px rgb(148, 147, 147);
    cursor: pointer;
}

.contenedor img{
    margin-top: 15px;
    height: 150px;
    width: 250px;
}

.informacion{
    margin: auto;
    padding: 15px;
    width: 1000px;

}

.datos{
    display: grid;
    grid-template-columns: auto;
    padding: 15px;
    margin: auto;
    width: 1000px;
    box-shadow: -2px 2px 8px 1px gray;
}

.datos img{
    height: 250px;
    width: 350px;
    box-shadow: -2px 2px 8px 1px gray;
}

.descripcion{
    grid-column-start: 2;
    margin-top: 75px;
}

.descripcion p{
    text-overflow: ellipsis;
    overflow: scroll;
    width: 500px;
}

.descripcion button{
    font-size: medium;
    margin-top: 170px;
    width: 100px;
    padding: 15px;
    color: white;
    background-color: #93108d;
    border: 0px;
    box-shadow: -1px 1px 5px 1px rgb(148, 147, 147);
    cursor: pointer;
    float: right;
}

.datitos{
    display: flex;
}

.datitos div{
    padding: 15px;
}