body {
  font-family: 'Rubik', sans-serif;
}

.header {
  background-color: #93108d;
  width: 100%;
  height: 90px;
  padding: 15px;
  margin-top: -1%;
  margin-left: -1%;
}

.img-header {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.text-header {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  color: white;
}

li {
  text-decoration: none;
  display: inline-block;
}
.list-header {
  float: right;
}

option {
  text-align: center;
}

/*navbar*/

.navbar {
  float: left;
  overflow: hidden;
  background-color: #bd14b4;
  width: 100%;
  padding: 15px;
  margin-left: -1%;
}

.navbtn {
  float: left;
  overflow: hidden;
  margin-left: 5px;
  background-color: inherit;
  color: white;
  border: none;
  width: 100px;
  height: 40px;
  margin: -1% 0 -1% 0;
}

.navbar button:hover {
  background-color: #93108d;
}

.navbar-content1 {
  display: none;
  position: absolute;
  background-color: #bd14b4;
  min-width: 160px;
  overflow: auto;
  margin-top: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar-content2 {
  display: none;
  position: absolute;
  background-color: #bd14b4;
  min-width: 160px;
  overflow: auto;
  margin-top: 12px;
  margin-left: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  color: white;
  display: block;
}

.navbar-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  color: white;
  display: block;
}

.navbar-content1 a:hover {
  background-color: #93108d;
}

.navbar-content2 a:hover {
  background-color: #93108d;
}

.navbar-dropdown1 .navbar-content1 {
  display: block;
}
.navbar-dropdown2:hover .navbar-content2 {
  display: block;
}

/*menú de usuario*/

.dropdown-content {
  position: absolute;
  display: none;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  display: block;
  text-align: center;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.dropbtn {
  background-color: #93108d;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #770d72fb;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #93108d;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown a:hover {
  background-color: #bd14b4;
}

.show {
  display: block;
}
/*fin de menú de usuario*/

/*footer*/

footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  background-color: #575757;
  width: 100%;
  margin-top: 20px;
  margin-left: -1%;
  height: 90px;
  padding: 15px;
}

.img-footer {
  margin-bottom: 10px;
}

.text-footer {
  position: absolute;
  bottom: 10px;
  margin-left: 100px;
  color: white;
}

.info-footer {
  position: absolute;
  bottom: 1px;
  left: 550px;
  width: 35%;
  color: white;
}

.redes {
  position: absolute;
  bottom: 10px;
  right: 60px;
}
.redes li {
  margin: 5px;
}

/*listado de propuestas*/

.listado {
  margin: auto;
  padding-right: 15px;
  width: 1000px;
}

.contenedor {
  display: flex;
  align-items: center;
  margin: 0px auto;
  border: solid 1px gray;
  border-radius: 20px;
  width: 1000px;
  height: 200px;
  box-shadow: -2px 2px 8px 1px gray;
}

.contenedor div {
  margin: 10px;
  padding-left: 20px;
  width: 300px;
}

.contenedor p {
  text-overflow: ellipsis;
  height: 65px;
  width: 320px;
  overflow: hidden;
}

.contenedor button {
  margin: auto;
  width: 75px;
  padding: 10px;
  color: white;
  border: 0px;
  box-shadow: -1px 1px 5px 1px rgb(148, 147, 147);
  cursor: pointer;

}

.contenedor form{
  margin: auto;
  width: 300px;
  text-align: center;
}

.accept-btn{
  background-color:#209310;
}

.reject-btn{
  background-color: red;
}

.optional-btn{
 background-color: #93108d;
}

.button_container{
  display: flex;
  flex-direction: row;
  width: 300px;
}

.contenedor img {
  height: 150px;
  width: 250px;
}

.titulo-listado {
  margin-top: 80px;
}

/*vista de proyecto*/

.listado {
  margin: auto;
  width: 1000px;
}

.contenedor h2{
  margin: 0px;
}

/*
.contenedor button {
  margin: auto;
  width: 75px;
  padding: 10px;
  color: white;
  background-color: #93108d;
  border: 0px;
  box-shadow: -1px 1px 5px 1px rgb(148, 147, 147);
  cursor: pointer;
} */

.contenedor img {
  height: 150px;
  width: 250px;
  box-shadow: -2px 2px 8px 1px gray;
}

.informacion {
  margin: auto;
  padding: 15px;
  width: 1000px;
}

.informacion h1{
  margin: 0px;
}

.datos {
  display: grid;
  flex-direction: column;
  padding: 15px;
  margin: auto;
  width: 1000px;
}


.datos img {
  height: 250px;
  width: 350px;
  box-shadow: -2px 2px 8px 1px gray;
}

.descripcion {
  margin-top: 50px;
  grid-column-start: 2;
  padding: 15px;
  width: 500px;
}

.descripcion p {
  width: 350px;
  /* height: ; */
  text-overflow: ellipsis;
  overflow: auto;
}

.descripcion button {
  font-size: medium;
  width: 100px;
  padding: 15px;
  color: white;
  background-color: #93108d;
  border: 0px;
  box-shadow: -1px 1px 5px 1px rgb(148, 147, 147);
  cursor: pointer;
  float: right;
}

.datitos {
  padding: 15px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.datitos div {
  position: relative;
}

/*Registro*/

fieldset {
  border-radius: 10px;
  margin: 20px auto 20px auto;
  width: 50%;
  border-color: #93108d;
  box-shadow: -1px 1px 5px 1px rgb(148, 147, 147);
}

.datos-g {
  margin-top: 80px;
}

.registrobtn {
  border-radius: 5px;
  margin: auto;
  height: 30px;
  background-color: #93108d;
  color: white;
  border: none;
  position: relative;
  bottom: 5px;
  left: 800px;
}

.registrobtn:hover {
  background-color: #bd14b4;
}

input {
  margin-bottom: 10px;
  border-radius: 5px;
}

input[type='text'] {
  height: 30px;
  width: 200px;
}

input[type='date'] {
  height: 30px;
  width: 200px;
}

input[type='number'] {
  height: 30px;
  width: 200px;
}

input[type='email'] {
  height: 30px;
  width: 200px;
}

input[type='tel'] {
  height: 30px;
  width: 200px;
}

input[type='radio']:after {
  background-color: khaki;
}

/*Home*/

.home-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 75vw;
  width: 100vw;
  min-height: 75vh;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 75%;
  height:auto;
  padding-top: 2rem;
}

.mision-content {
  padding-left: 1rem;
  margin: 1rem;
  box-shadow: -2px 2px 8px 1px gray;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.vision-content {
  padding-left: 1rem;
  margin: 1rem;
  box-shadow: -2px 2px 8px 1px gray;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.mision-content > *{
  justify-self: center;
  align-self: center;
}

.mision-content > p {
  text-align: justify;
}

.vision-content > * {
  justify-self: center;
  align-self: center;
}

.vision-content > p {
  text-align: justify;
}


.home-banner {
  display: block;
  width: 97%;
  height: 400px;
  margin: auto;
}
/*Editar proyectos*/

.informacioncita{
  margin: auto;
  padding: 15px;
  width: 1000px;

}

.dataa{
  display: grid;
  grid-template-columns: auto;
  padding: 15px;
  margin: auto;
  width: 1000px;

}

.dataa img{
  height: 250px;
  width: 350px;
  box-shadow: -2px 2px 8px 1px gray;
}

.info_prim{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.description{
  display: flex;
  flex-direction: column;
  width: 600px;
  grid-column-start: 2;
  margin-top: 75px;
  margin-left: 6%;
}

.boton{
  font-size: medium;
  width: 100px;
  padding: 15px;
  color: white;
  background-color: #93108d;
  border: 0px;
  box-shadow: -1px 1px 5px 1px rgb(148, 147, 147);
  margin-left: 7%;
  margin-bottom: 2%;
  margin-top: 2%;
  border-radius: 8px;
}

.botones{
  text-align: center;
}

.datototes{
  display: flex;
  flex-direction: column;
  padding-left: 7%;
  padding-right: 7%;
}

.datototes div{
  padding: 15px;
}

.areadetexto{
  font-family: 'Rubik', sans-serif;
  width: 400px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  height: 5%;
  font-size: large;

}

.inputsito{
  box-sizing: border-box;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: large;
  border-radius: 8px;
  font-family: 'Rubik', sans-serif;
}

.titulo_editar{
  font-size: large;
  margin-bottom: 5%;
  width: 90%;
}

.data_ed{
  position: relative;
}

.error {
    color:red;
}
